* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?qiunmx');
    src: url('../fonts/icomoon.eot?qiunmx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qiunmx') format('truetype'),
    url('../fonts/icomoon.woff?qiunmx') format('woff'),
    url('../fonts/icomoon.svg?qiunmx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
    display: block!important;
}

.border_default {
    border: 1px solid black;
}

body {
    padding-top: 30px;
}

.center {
    border: 1px solid black;
    display: flex;
    background-color: rgba(227, 237, 180, 1);
}

li {
    list-style: none;
    background-color: rgba(208, 225, 125, 1);
}



#add {
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    border: 1px dashed black;
    height: 45px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 35px;
}
