#GroupInfoDiv {
    height: 500px;
    width: 70%;
    margin: auto auto;
    background-color: rgba(0,0,0,0.15);
    /*border: 1px solid black;*/
    position: relative;
}
.InfoHeader {
    position: absolute;
    top: -70px;
    width: 500px;
    height: 50px;
    line-height: 50px;

}
.avatar {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: deepskyblue;
    float: left;
    margin-right: 50px;
}
.avatar h3,img {
    float: left;
}

#GroupInfo {
    border: 1px solid black;
}