.container{
    margin: 0 25%;
    margin-top: 50px;
    padding: 0;
    width: 823px;
}
.container form{
    text-align: center;
}
#MemberInfo {
    border: 1px solid black;
    padding: 20px 15px;
}
li{
    list-style: none;
    border: 1px solid black;
    padding: 0 10px;
    min-height: 25px;
}
li button{
    float: right;
}
li p{
    display: inline-block;
    max-width: 700px;
    word-break: break-all;
}